<!DOCTYPE html>
<html lang="en" class="h-100">
  <%- include ./partials/header %>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="d-flex w-100 h-100 py-2 px-5 mx-auto flex-column">
      <%- include ./partials/navbar %>

      <main class="p-0">
        <div
          class="container-fluid p-5 border border-2 border-light"
          style="max-width: 400px"
        >
          <h3 class="text-center text-white p-4">
            <i class="fa fa-user-check"></i> <%= heading %>
          </h3>

          <%- include ./partials/flash_messages %>

          <form class="form text-start" action="/login" method="POST">
            <div class="col-md mb-3">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="Username"
                autofocus
                required
              />
            </div>
            <div class="col-md mb-3">
              <label for="role">Role</label>
              <select class="form-select" name="role" id="role" required>
                <option selected disabled hidden>Select Role</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
              </select>
            </div>
            <div class="col-md mb-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="col-md my-3">
              <input type="checkbox" name="reuser" /> Reuser me
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">
              Login
            </button>

            <div class="row float-end">
              <p>
                Not registered?
                <a class="btn btn-sm btn-outline-success" href="/register">
                  Sign up
                </a>
              </p>
            </div>
          </form>

          <script>
            $(document).ready(function () {
              $("#role").change(function () {
                var role = $(this).val();
                if (role == "admin") {
                  $(".form").attr("action", "/admin-login");
                } else if (role == "user") {
                  $(".form").attr("action", "/user-login");
                }
              });
            });
          </script>
        </div>
      </main>

      <%- include ./partials/footer %>
    </div>
  </body>
</html>
