<!DOCTYPE html>
<html lang="en" class="h-100">
  <%- include ../../partials/header %>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="d-flex w-100 h-100 py-2 px-5 mx-auto flex-column">
      <%- include ./partials/navbar %>

      <main class="p-0">
        <h1>EMP Auth</h1>
        <p class="lead">
          Authentication system built using Express, MySQL and PassportJS
        </p>
        <hr class="my-3" />

        <%- include ../../partials/flash_messages %>

        <div class="row m-2">
          <% users.forEach(function(rows){ %>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 mb-4">
            <a
              href="/admin/<%= user.user_id %>/users"
              class="text-dark text-decoration-none"
            >
              <div class="card bg-white shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="
                          text-xs
                          font-weight-bold
                          text-dark text-uppercase
                          mb-1
                        "
                      >
                        Users
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-dark">
                        <%= rows.count %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pen-alt fa-2x text-gray-100"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <% }); %>
        </div>
      </main>

      <%- include ../../partials/footer %>
    </div>
  </body>
</html>
